/* Experience */

.experience h1 {
  margin-bottom: var(--space-job-pull);
}

h2 {
  font-size: 21px;
  margin-top: var(--space-job);
  margin-bottom: var(--space-job-sub);
}

.experience ul {
  margin-left: 22px;
}

.experience li {
  font-size: 15px;
  margin-top: var(--space-bullet);
  white-space: pre-wrap;
}

.job-description {
  color: #303030;
}

.time-span {
  font-size: 13px;
  color: #406060;
}

h1{
  color: #305050;
}
