/* Experience */

.experience {
  width: 100%;
}
.experience h1 {
  margin-bottom: -11px;
}

h2 {
  font-size: 21px;
  margin-top: 14px;
  margin-bottom: 5px;
}

.experience ul {
  margin-left: 22px;
}

.experience li {
  font-size: 15px;
  margin-top: 1px;
}

.personal-projects {
  margin-top: 20px;
}

.job-description {
  color: #303030;
}

.time-span {
  font-size: 13px;
  color: #505050;
}
