/* Left Container */

.left-container h1 {
  font-size: 30px;
}

.left-container ul {
  margin-left: 22px;
}

.left-container li {
  font-size: 15px;
  margin-top: 1px;
}

.personal-projects {
  margin-top: 20px;
}

.job-description {
  /*font-size: 15px;*/
  color: #303030;
}

.time-span {
  font-size: 13px;
  color: #505050;
}
