/* Main Container */
.body-container {
  /*margin-top: 20px;*/
}

.body-container h1 {
  font-size: 30px;
  margin-bottom: 12px;
}

.body-container h2 {
  font-size: 23px;
  margin-bottom: 3px;

}

.body-container h4 {
  font-size: 16px;
}

.body-container ul {
  margin-left: 30px;
}

.body-container li {
  font-size: 15px;
  margin-top: 1px;
}

/* Left Container */
.personal-projects {
  margin-top: 20px;
}

.job-description {
  font-size: 19px;
  color: #505050;
}

.time-span {
  float: right;
  font-size: 15px;
}

.right-container h3 {
  margin-top: 8px;
}

.right-container h4 {
  margin-top: 3px;
  margin-bottom: 1px;
}

.right-container .minor-top-padding {
  margin-top: 15px;
}
