/* right body */

.right-container h4 {
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 1px;
}

.right-container h3 {
  margin-top: 8px;
}

.right-container ul {
  padding-left: 20px;
}

.right-container li {
  font-size: 14px;
  margin-top: 1px;
}

.minor-top-padding {
  margin-top: 15px;
}
