/* split */

.title {
  width: 28%;
  height: 100%;
  float: left;
}

.contact-container {
  width: 68%;
  height: 100%;
  float: right;
}

/* Left Container */
.left-container {
  float: right;
  width: 68%;
}

/* Right Container */
.right-container {
  width: 28%;
  float: left;
}
