/* styles */

h1 {
  font-size: 28px;
  padding-top: var(--space-section);
}

p {
  font-size: 14px;
}

.header-container {
  width: 100%;
  height: var(--space-header);
}

.accent {
  color: #407070;
}
